<!DOCTYPE html>
 <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Networking Inventory</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Networking Inventory</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>
   <main class="container">
        <header class="row">
            <div class="col-lg-10"></div>
            <div class="col-lg-2 text-right">
                 <a href="{{ url_for('showInactiveHosts') }}">
                    <span class="glyphicon glyphicon-remove-circle" style="font-size:32px; color: silver;"></span>
                 </a>
            </div>
        </header>
    </main><br>
        <div class="row">
         <div class="col-lg-12">
            <h1 class="title" style="margin-left: 5%; background: rgba(192,192,192,0.56)">
                ARE YOU SURE YOU WANT TO DELETE THE HOST? </h1>
            <br>
            <br>
            </div>
        </div>
    <br>
   <div class="row">
       <div class="col-lg-4"></div>
       <div class="col-lg-4">
            <table class = "table">
                <form action="{{url_for('deleteHost', host=row.id)}}" method="post">
                <input type="submit" value="Delete" style="font-size: 28px; background-color: red; color: white">
                </form>
                <a href="{{ url_for('showInactiveHosts') }}"> <input type="button" value="Cancel" style="font-size: 28px"></a>
            </table>
       </div>
   </div>
</body><br><br>
<footer class="container-fluid" style="text-align: center; color: #8c8c8c">
        <div class="col-md-12 footer">
          <p>"Build a Catalog", Udacity Project</p>
          <p>By Vera G.</p>
        </div>
</footer>
</html>