<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Networking Inventory</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>
    <main class="container">
        <header class="row">
            <div class="col-md-6 text-left text-uppercase">
                <h1 class="title">CREATE NEW HOST</h1>
            </div>
            <div class="col-md-4 col-md-offset-1">
                <form action="" class="search-form">
                    <div class="form-group has-feedback">
                        <label for="search" class="sr-only">Search</label>
                        <input type="text" class="form-control" name="search" id="search" placeholder="search host id">
                        <span class="glyphicon glyphicon-search form-control-feedback"></span>
                    </div>
                </form>
            </div>
            <div class="row">
              <div class="cold-md-12">
                  <hr class="line-tkick">
              </div>
            </div>
        </header>
        <table class = "table">
            <tr>
                <td> <a href="{{ url_for('showActiveHosts') }}"><h3 class="text-uppercase">List Active Hosts</h3></a></td>
                <td><a href="{{ url_for('showInactiveHosts') }}"><h3 class="text-uppercase">List Inactive Hosts</h3></a></td>
            </tr>
        </table>
    </main>
    <br>
    <div id="addform" class="container">
        <div class="col-lg-12">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul style="color: red">
                        {% for message in messages %}
                            <li><strong>{{ message[1] }}</strong></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        <br>
            <form action="{{url_for('newHost')}}" method="post">
                <input type ='text' size ='50' name='hostname' value="" placeholder="Host Name"><br><br>
                <input type ='text' size ='50' name='host_alias' value="" placeholder="Host Alias"><br><br>
                <input type ='text' size ='50' name='hostgroup' value="" placeholder="Host Group"><br><br>
                <input type ='text' size ='50' name='ipv4' value="" placeholder="IPV4"><br><br>
                <input type ='text' size ='50' name='ipv6' value="" placeholder="IPV6"><br><br>
                <input type ='text' size ='50' name='os' value="" placeholder="OS"><br><br>
                <input type ='text' size ='50' name='os_type' value="" placeholder="OS Type"><br><br>
                <input type ='text' size ='50' name='os_release' value="" placeholder="OS Release"><br><br>
                <input type ='text' size ='50' name='ssh_port' value="" placeholder="SSH Port"><br><br>
                <input type ='text' size ='50' name='ssh_user' value="" placeholder="SSH User"><br><br>
                <input type ='text' size ='50' name='active' value="" placeholder="Active"><br><br>
                <input type="submit" value="Create">
            </form>
        </div>
    </div>
</body>
</html>