<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Networking Inventory</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>
   <main class="container">
        <header class="row">
            <div class="col-lg-10"></div>
            <div class="col-lg-2 text-right">
                 <a href="{{ url_for('showActiveHosts') }}">
                    <span class="glyphicon glyphicon-remove-circle" style="font-size:32px; color: silver;"></span>
                 </a>
            </div>
        </header>
    </main><br>
        <div class="row">
         <div class="col-lg-12">
            <h1 class="title" style="margin-left: 5%; background: rgba(192,192,192,0.56)">ADD TO NETWORK INVENTORY</h1>
            <br>
            <br>
            </div>
        </div>
    <br>
    <div id="addform" class="container">
        <div class="col-lg-12">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul style="color: red">
                        {% for message in messages %}
                            <li><strong>{{ message[1] }}</strong></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
    </div>
    <br>
    <form action = '{{url_for('newHost')}}'' method = 'POST' style="margin-left: 10%">
                <input type ='text' size ='100' name='hostname' value="" placeholder="Host Name"><br><br>
                <input type ='text' size ='100' name='host_alias' value="" placeholder="Host Alias"><br><br>
                <input type ='text' size ='100' name='hostgroup' value="" placeholder="Host Group"><br><br>
                <input type ='text' size ='100' name='ipv4' value="" placeholder="IPV4"><br><br>
                <input type ='text' size ='100' name='ipv6' value="" placeholder="IPV6"><br><br>
                <input type ='text' size ='100' name='os' value="" placeholder="OS"><br><br>
                <input type ='text' size ='100' name='os_type' value="" placeholder="OS Type"><br><br>
                <input type ='text' size ='100' name='os_release' value="" placeholder="OS Release"><br><br>
                <input type ='text' size ='100' name='ssh_port' value="" placeholder="SSH Port"><br><br>
                <input type ='text' size ='100' name='ssh_user' value="" placeholder="SSH User"><br><br>
                <input type ='text' size ='100' name='active' value="" placeholder="Active"><br><br>
                <input type="submit" value="add">
    </form>
    <br>
    <br>
    <br>
</body>
    <footer class="container-fluid" style="text-align: center; color: #8c8c8c">
        <div class="col-md-12 footer">
          <p>"Build a Catalog", Udacity Project</p>
          <p>By Vera G.</p>
        </div>
    </footer>

</html>